<div class="box post">
    <h2>Delete</h2> 
    <input type='text' ng-model='form.text' disable='false'/>
    <input type='button' ng-click='deleteTodo()' value='delete' />
    <input type='button' ng-click='home()' value='no' />
</div>