<div class="box todos">
    <ul>
      <li ng-repeat='item in items' ng-class="item.status">
        {{ item.text }}
        <a href='#/finish/{{ item.id }}'>finish</a>
        <a href='#/modify/{{ item.id }}'>modify</a>
        <a href='#/delete/{{ item.id }}'>delete</a>
      </li>
    </ul>
</div>

<div class="box post">
    <input type='text' ng-model='form.text' />
    <input type='button' ng-click='addTodo()' value='add' />
</div>