body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background:#EEE;
}

a {
    color: #00B7FF;
}

.box {
    margin-bottom: 20px;
}

.page {
    max-width: 720px;
    margin: 20px auto;
    padding: 20px;

    border: 1px solid #CCC;
    border-radius:5px;

    background-color: #FFF;
}

.header {
    border-bottom:1px solid #CCC;
    text-align: center;
}

.main ul {
    list-style: none;
    display: inline;
}

.main li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCC;
}

.todos {
    margin: 20px;
}

.done {
    list-style-image: url(/images/ok.gif);
}

.foot {
    border-top: 1px solid #CCC;
    padding-top: 20px;

    color: #666;

    font-size: 12px;
    text-align: center;
}